<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.CommentMapper">

    <select id="getComment" resultType="com.zb.pojo.Comment">
        select
                id as id,
                issueId as issueId,
                userId as userId,
                replyMsg as replyMsg,
                createTime as createTime,
                zannumber as zannumber,
                secondId as secondId,
                state as state
        from comment
    </select>

    <select id="getCommentById" resultType="com.zb.pojo.Comment">
        select
                id as id,
                issueId as issueId,
                userId as userId,
                replyMsg as replyMsg,
                createTime as createTime,
                zannumber as zannumber,
                secondId as secondId,
                state as state
        from comment
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getCommentListByMap" resultType="com.zb.pojo.Comment" parameterType="java.util.Map">
        select
                id as id,
                issueId as issueId,
                userId as userId,
                replyMsg as replyMsg,
                createTime as createTime,
                zannumber as zannumber,
                secondId as secondId,
                state as state
        from comment
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="issueId != null and issueId!=''">
                    and issueId=#{issueId}
                </if>
                <if test="userId != null and userId!=''">
                    and userId=#{userId}
                </if>
                <if test="replyMsg != null and replyMsg!=''">
                    and replyMsg=#{replyMsg}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
                <if test="zannumber != null and zannumber!=''">
                    and zannumber=#{zannumber}
                </if>
                <if test="secondId != null and secondId!=''">
                    and secondId=#{secondId}
                </if>
                <if test="state != null and state!=''">
                    and state=#{state}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getCommentCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from comment
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="issueId != null and issueId!=''">
                    and issueId=#{issueId}
                </if>
                <if test="userId != null and userId!=''">
                    and userId=#{userId}
                </if>
                <if test="replyMsg != null and replyMsg!=''">
                    and replyMsg=#{replyMsg}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
                <if test="zannumber != null and zannumber!=''">
                    and zannumber=#{zannumber}
                </if>
                <if test="secondId != null and secondId!=''">
                    and secondId=#{secondId}
                </if>
                <if test="state != null and state!=''">
                    and state=#{state}
                </if>
        </trim>
    </select>

    <insert id="insertComment" parameterType="com.zb.pojo.Comment">
        insert into comment(
                        issueId,
                        userId,
                        replyMsg,
                        createTime,
                        zannumber,
                        secondId,
                        state)
        values(
                     #{issueId},
                     #{userId},
                     #{replyMsg},
                     #{createTime},
                     #{zannumber},
                     #{secondId},
                    #{state})
    </insert>

    <update id="updateComment" parameterType="com.zb.pojo.Comment">
        update comment
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="issueId != null and issueId!=''">
                            issueId=#{issueId},
                        </if>
                        <if test="userId != null and userId!=''">
                            userId=#{userId},
                        </if>
                        <if test="replyMsg != null and replyMsg!=''">
                            replyMsg=#{replyMsg},
                        </if>
                        <if test="createTime != null and createTime!=''">
                            createTime=#{createTime},
                        </if>
                        <if test="zannumber != null and zannumber!=''">
                            zannumber=#{zannumber},
                        </if>
                        <if test="secondId != null and secondId!=''">
                            secondId=#{secondId},
                        </if>
                        <if test="state != null and state!=''">
                            state=#{state}
                        </if>
        </trim>
    </update>
</mapper>