<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.DirectiontypeMapper">

    <select id="getDirectiontype" resultType="com.zb.pojo.Directiontype">
        select
                id as id,
                directionName as directionName
        from directiontype
    </select>

    <select id="getDirectiontypeById" resultType="com.zb.pojo.Directiontype">
        select
                id as id,
                directionName as directionName
        from directiontype
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getDirectiontypeListByMap" resultType="com.zb.pojo.Directiontype" parameterType="java.util.Map">
        select
                id as id,
                directionName as directionName
        from directiontype
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="directionName != null and directionName!=''">
                    and directionName=#{directionName}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getDirectiontypeCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from directiontype
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="directionName != null and directionName!=''">
                    and directionName=#{directionName}
                </if>
        </trim>
    </select>

    <insert id="insertDirectiontype" parameterType="com.zb.pojo.Directiontype">
        insert into directiontype(
                        directionName)
        values(
                    #{directionName})
    </insert>

    <update id="updateDirectiontype" parameterType="com.zb.pojo.Directiontype">
        update directiontype
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="directionName != null and directionName!=''">
                            directionName=#{directionName}
                        </if>
        </trim>
    </update>
</mapper>