<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.ReplyMapper">

    <select id="getReply" resultType="com.zb.pojo.Reply">
        select
                id as id,
                commentId as commentId,
                fromuserId as fromuserId,
                touserId as touserId,
                replyMsg as replyMsg,
                createTime as createTime,
                status as status
        from reply
    </select>

    <select id="getReplyById" resultType="com.zb.pojo.Reply">
        select
                id as id,
                commentId as commentId,
                fromuserId as fromuserId,
                touserId as touserId,
                replyMsg as replyMsg,
                createTime as createTime,
                status as status
        from reply
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getReplyListByMap" resultType="com.zb.pojo.Reply" parameterType="java.util.Map">
        select
                id as id,
                commentId as commentId,
                fromuserId as fromuserId,
                touserId as touserId,
                replyMsg as replyMsg,
                createTime as createTime,
                status as status
        from reply
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="commentId != null and commentId!=''">
                    and commentId=#{commentId}
                </if>
                <if test="fromuserId != null and fromuserId!=''">
                    and fromuserId=#{fromuserId}
                </if>
                <if test="touserId != null and touserId!=''">
                    and touserId=#{touserId}
                </if>
                <if test="replyMsg != null and replyMsg!=''">
                    and replyMsg=#{replyMsg}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
                <if test="status != null and status!=''">
                    and status=#{status}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getReplyCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from reply
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="commentId != null and commentId!=''">
                    and commentId=#{commentId}
                </if>
                <if test="fromuserId != null and fromuserId!=''">
                    and fromuserId=#{fromuserId}
                </if>
                <if test="touserId != null and touserId!=''">
                    and touserId=#{touserId}
                </if>
                <if test="replyMsg != null and replyMsg!=''">
                    and replyMsg=#{replyMsg}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
                <if test="status != null and status!=''">
                    and status=#{status}
                </if>
        </trim>
    </select>

    <insert id="insertReply" parameterType="com.zb.pojo.Reply">
        insert into reply(
                        commentId,
                        fromuserId,
                        touserId,
                        replyMsg,
                        createTime,
                        status)
        values(
                     #{commentId},
                     #{fromuserId},
                     #{touserId},
                     #{replyMsg},
                     #{createTime},
                    #{status})
    </insert>

    <update id="updateReply" parameterType="com.zb.pojo.Reply">
        update reply
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="commentId != null and commentId!=''">
                            commentId=#{commentId},
                        </if>
                        <if test="fromuserId != null and fromuserId!=''">
                            fromuserId=#{fromuserId},
                        </if>
                        <if test="touserId != null and touserId!=''">
                            touserId=#{touserId},
                        </if>
                        <if test="replyMsg != null and replyMsg!=''">
                            replyMsg=#{replyMsg},
                        </if>
                        <if test="createTime != null and createTime!=''">
                            createTime=#{createTime},
                        </if>
                        <if test="status != null and status!=''">
                            status=#{status}
                        </if>
        </trim>
    </update>
</mapper>