<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zb.mapper.TeacherapplyMapper">

    <select id="getTeacherapply" resultType="com.zb.pojo.Teacherapply">
        select
                id as id,
                userId as userId,
                realname as realname,
                introduction as introduction,
                status as status,
                createTime as createTime
        from teacherapply
    </select>

    <select id="getTeacherapplyById" resultType="com.zb.pojo.Teacherapply">
        select
                id as id,
                userId as userId,
                realname as realname,
                introduction as introduction,
                status as status,
                createTime as createTime
        from teacherapply
        <trim prefix="where" prefixOverrides="and | or">
            <if test="id != null">
                and id=#{id}
            </if>
        </trim>
    </select>

    <select id="getTeacherapplyListByMap" resultType="com.zb.pojo.Teacherapply" parameterType="java.util.Map">
        select
                id as id,
                userId as userId,
                realname as realname,
                introduction as introduction,
                status as status,
                createTime as createTime
        from teacherapply
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="userId != null and userId!=''">
                    and userId=#{userId}
                </if>
                <if test="realname != null and realname!=''">
                    and realname=#{realname}
                </if>
                <if test="introduction != null and introduction!=''">
                    and introduction=#{introduction}
                </if>
                <if test="status != null and status!=''">
                    and status=#{status}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
        </trim>
        <if test="beginPos != null and pageSize != null ">
            limit #{beginPos},#{pageSize}
        </if>
    </select>

    <select id="getTeacherapplyCountByMap" resultType="Integer"  parameterType="java.util.Map">
        select count(*) from teacherapply
        <trim prefix="where" prefixOverrides="and | or">
                <if test="id != null and id!=''">
                    and id=#{id}
                </if>
                <if test="userId != null and userId!=''">
                    and userId=#{userId}
                </if>
                <if test="realname != null and realname!=''">
                    and realname=#{realname}
                </if>
                <if test="introduction != null and introduction!=''">
                    and introduction=#{introduction}
                </if>
                <if test="status != null and status!=''">
                    and status=#{status}
                </if>
                <if test="createTime != null and createTime!=''">
                    and createTime=#{createTime}
                </if>
        </trim>
    </select>

    <insert id="insertTeacherapply" parameterType="com.zb.pojo.Teacherapply">
        insert into teacherapply(
                        userId,
                        realname,
                        introduction,
                        status,
                        createTime)
        values(
                     #{userId},
                     #{realname},
                     #{introduction},
                     #{status},
                    #{createTime})
    </insert>

    <update id="updateTeacherapply" parameterType="com.zb.pojo.Teacherapply">
        update teacherapply
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
                        <if test="userId != null and userId!=''">
                            userId=#{userId},
                        </if>
                        <if test="realname != null and realname!=''">
                            realname=#{realname},
                        </if>
                        <if test="introduction != null and introduction!=''">
                            introduction=#{introduction},
                        </if>
                        <if test="status != null and status!=''">
                            status=#{status},
                        </if>
                        <if test="createTime != null and createTime!=''">
                            createTime=#{createTime}
                        </if>
        </trim>
    </update>
</mapper>